<a href="https://colab.research.google.com/github/RGibesh/Python-Data-Analysis/blob/main/Data_Analysis_using_Python_Workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## DATA ANALYSIS USING PYTHON

## Basic Operations  
`

Try the following:

In [ ]:
25+431

In [ ]:
7888*2666

In [ ]:
3232/4343

In [ ]:
32873+4242

In [ ]:
5**2

In [ ]:
100**2

In [ ]:
round(56.777,2)

In [ ]:
import math

In [ ]:
math.log(50)

In [ ]:
math.sin(49)

In [ ]:
math.pi

In [ ]:
math.ceil(45.6)

## Import Data:

Import Library:

import Pandas 

import pandas as pd

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/ivailop7/Health-Data-Analysis/master/Health%20Data-daily.csv')

To get the number of columns and rows in the dataset:

In [ ]:
data.shape

(767, 68)

In [ ]:
data.shape

In [ ]:
data.head()

In [ ]:
data.tail()

To see the column headers or variables in the dataset:

In [ ]:
data.columns

Index(['Start', 'Finish', 'Active Calories (kcal)', 'Biotin (mcg)',
       'Blood Alcohol Content (%)', 'Blood Glucose (mg/dL)',
       'Blood Pressure (Diastolic) (mmHg)', 'Blood Pressure (Systolic) (mmHg)',
       'Body Fat Percentage (%)', 'Body Mass Index (count)',
       'Body Temperature (degC)', 'Basal Body Temperature (degC)',
       'Caffeine (mg)', 'Calcium (mg)', 'Carbohydrates (mg)', 'Chloride (mg)',
       'Cholesterol (mg)', 'Chromium (mcg)', 'Copper (mcg)',
       'Cycling Distance (mi)', 'Dietary Calories (cal)', 'Distance (km)',
       'Electrodermal Activity (mcS)', 'Fiber (g)', 'Flights Climbed (count)',
       'Folate (mcg)', 'Forced Expiratory Volume (L)',
       'Forced Vital Capacity (L)', 'Heart Rate (count/min)',
       'Inhaler Usage (count)', 'Iodine (mcg)', 'Lean Body Mass (kg)',
       'Magnesium (mg)', 'Manganese (mg)', 'Molybdenum (mcg)',
       'Monosaturated Fat (g)', 'Niacin (mg)', 'NikeFuel (count)',
       'Number of Times Fallen (count)', 'Oxygen Saturation (%)',
       'Pantothenic Acid (mg)', 'Peak Expiratory Flow Rate (L/min)',
       'Peripheral Perfusion Index (%)', 'Phosphorus (mg)',
       'Polyunsaturated Fat (g)', 'Potassium (mg)', 'Protein (g)',
       'Respiratory Rate (count/min)', 'Resting Calories (kcal)',
       'Riboflavin (mg)', 'Saturated Fat (g)', 'Selenium (mcg)', 'Sodium (mg)',
       'Steps (count)', 'Sugar (g)', 'Thiamin (mg)', 'Total Fat (g)',
       'Vitamin A (mcg)', 'Vitamin B12 (mcg)', 'Vitamin B6 (mg)',
       'Vitamin C (mg)', 'Vitamin D (mcg)', 'Vitamin E (mg)',
       'Vitamin K (mcg)', 'Weight (kg)', 'Dietary Water (L)', 'Zinc (mg)',
       'UV Exposure (count)'],
      dtype='object')

In [ ]:
data.describe()

,Active Calories (kcal),Biotin (mcg),Blood Alcohol Content (%),Blood Glucose (mg/dL),Blood Pressure (Diastolic) (mmHg),Blood Pressure (Systolic) (mmHg),Body Fat Percentage (%),Body Mass Index (count),Body Temperature (degC),Basal Body Temperature (degC),...,Vitamin B12 (mcg),Vitamin B6 (mg),Vitamin C (mg),Vitamin D (mcg),Vitamin E (mg),Vitamin K (mcg),Weight (kg),Dietary Water (L),Zinc (mg),UV Exposure (count)
count,767.000000,767.0,767.0,767.000000,767.000000,767.000000,767.000000,767.000000,767.0,767.0,...,767.0,767.0,767.0,767.0,767.0,767.0,767.000000,767.0,767.0,767.0
mean,346.623511,0.0,0.0,0.216093,0.912647,1.516297,0.016415,2.660235,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.273077,0.0,0.0,0.0
std,444.076546,0.0,0.0,4.233028,7.993400,13.237120,0.041409,6.439400,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,20.028158,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
25%,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
50%,298.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
75%,441.043397,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
max,4100.000000,0.0,0.0,86.474822,80.000000,125.000000,0.143000,19.200000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,60.150000,0.0,0.0,0.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 68 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Start                              767 non-null    object
 1   Finish                             767 non-null    object
 2   Active Calories (kcal)             767 non-null    float64
 3   Biotin (mcg)                       767 non-null    float64
 4   Blood Alcohol Content (%)          767 non-null    float64
 5   Blood Glucose (mg/dL)              767 non-null    float64
 6   Blood Pressure (Diastolic) (mmHg)  767 non-null    float64
 7   Blood Pressure (Systolic) (mmHg)   767 non-null    float64
 8   Body Fat Percentage (%)            767 non-null    float64
 9   Body Mass Index (count)            767 non-null    float64
 10  Body Temperature (degC)            767 non-null    float64
 11  Basal Body Temperature (degC)      767 non-null    float64
 12  Caffeine (mg)                      767 non-null    float64
 13  Calcium (mg)                       767 non-null    float64
 14  Carbohydrates (mg)                 767 non-null    float64
 15  Chloride (mg)                      767 non-null    float64
 16  Cholesterol (mg)                   767 non-null    float64
 17  Chromium (mcg)                     767 non-null    float64
 18  Copper (mcg)                       767 non-null    float64
 19  Cycling Distance (mi)              767 non-null    float64
 20  Dietary Calories (cal)             767 non-null    float64
 21  Distance (km)                      767 non-null    float64
 22  Electrodermal Activity (mcS)       767 non-null    float64
 23  Fiber (g)                          767 non-null    float64
 24  Flights Climbed (count)            767 non-null    float64
 25  Folate (mcg)                       767 non-null    float64
 26  Forced Expiratory Volume (L)       767 non-null    float64
 27  Forced Vital Capacity (L)          767 non-null    float64
 28  Heart Rate (count/min)             767 non-null    float64
 29  Inhaler Usage (count)              767 non-null    float64
 30  Iodine (mcg)                       767 non-null    float64
 31  Lean Body Mass (kg)                767 non-null    float64
 32  Magnesium (mg)                     767 non-null    float64
 33  Manganese (mg)                     767 non-null    float64
 34  Molybdenum (mcg)                   767 non-null    float64
 35  Monosaturated Fat (g)              767 non-null    float64
 36  Niacin (mg)                        767 non-null    float64
 37  NikeFuel (count)                   767 non-null    float64
 38  Number of Times Fallen (count)     767 non-null    float64
 39  Oxygen Saturation (%)              767 non-null    float64
 40  Pantothenic Acid (mg)              767 non-null    float64
 41  Peak Expiratory Flow Rate (L/min)  767 non-null    float64
 42  Peripheral Perfusion Index (%)     767 non-null    float64
 43  Phosphorus (mg)                    767 non-null    float64
 44  Polyunsaturated Fat (g)            767 non-null    float64
 45  Potassium (mg)                     767 non-null    float64
 46  Protein (g)                        767 non-null    float64
 47  Respiratory Rate (count/min)       767 non-null    float64
 48  Resting Calories (kcal)            767 non-null    float64
 49  Riboflavin (mg)                    767 non-null    float64
 50  Saturated Fat (g)                  767 non-null    float64
 51  Selenium (mcg)                     767 non-null    float64
 52  Sodium (mg)                        767 non-null    float64
 53  Steps (count)                      767 non-null    float64
 54  Sugar (g)                          767 non-null    float64
 55  Thiamin (mg)                       767 non-null    float64
 56  Total Fat (g)                      767 non-null    float64
 57  Vitamin A (mcg)                    767 non-null    float64
 58  Vitamin B12 (mcg)                  767 non-null    float64
 59  Vitamin B6 (mg)                    767 non-null    float64
 60  Vitamin C (mg)                     767 non-null    float64
 61  Vitamin D (mcg)                    767 non-null    float64
 62  Vitamin E (mg)                     767 non-null    float64
 63  Vitamin K (mcg)                    767 non-null    float64
 64  Weight (kg)                        767 non-null    float64
 65  Dietary Water (L)                  767 non-null    float64
 66  Zinc (mg)                          767 non-null    float64
 67  UV Exposure (count)                767 non-null    float64
dtypes: float64(66), object(2)
memory usage: 407.6+ KB

## IMPORTING DATA FROM LOCAL DRIVE

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd
import io
dt=pd.read_csv(io.BytesIO(uploaded['Stud_data.csv']))

In [ ]:
import pandas as pd
dt=pd.read_csv("Stud_data.csv")

In [ ]:
dt.head()

  Stud_id  Gender      Dept  Attendance  SemMarks     Name  Unnamed: 6
0    M197  Female   Science        63.0     475.0     Ritu         NaN
1    M181    Male  Commerce        86.0     303.0   Victor         NaN
2    S137  Female  Commerce        79.0     587.0    Daven         NaN
3    M193    Male  Commerce        47.0     403.0  Fernado         NaN
4    C166  Female   Science        59.0     461.0     Rose         NaN

In [ ]:
dt.drop('Unnamed: 6',axis=1)

    Stud_id  Gender      Dept  Attendance  SemMarks     Name
0      M197  Female   Science        63.0     475.0     Ritu
1      M181    Male  Commerce        86.0     303.0   Victor
2      S137  Female  Commerce        79.0     587.0    Daven
3      M193    Male  Commerce        47.0     403.0  Fernado
4      C166  Female   Science        59.0     461.0     Rose
..      ...     ...       ...         ...       ...      ...
102    M200  Female   Science        67.0     426.0      NaN
103    S148    Male  Commerce        45.0     297.0      NaN
104    M186  Female  Commerce        53.0     438.0      NaN
105    C167    Male   Science        59.0     288.0      NaN
106    A128  Female  Commerce         NaN       NaN      NaN

[107 rows x 6 columns]

In [ ]:
dt[5:10]

  Stud_id  Gender      Dept  Attendance  SemMarks    Name  Unnamed: 6
5    S138    Male  Commerce        88.0     452.0   Vijay         NaN
6    A102  Female      Arts        97.0     589.0   Honey         NaN
7    A124    Male  Commerce        97.0     355.0   Randy         NaN
8    C173  Female      Arts        97.0     473.0  Jannet         NaN
9    C155    Male   Science         NaN     411.0  Pillai         NaN

In [ ]:
dt.Dept.unique()

array(['Science', 'Commerce', 'Arts', 'Comms', 'Art', nan], dtype=object)

##Excercise 1

(a). Import Stud_data downloaded in your computer

(b). read the first five lines of the data:

(c).find the last five lines of the data

read the headers in the data

find the unique values in the data

read row 15 to 20

## MEAN

In [ ]:
data.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Active Calories (kcal)               346.623511
Biotin (mcg)                           0.000000
Blood Alcohol Content (%)              0.000000
Blood Glucose (mg/dL)                  0.216093
Blood Pressure (Diastolic) (mmHg)      0.912647
                                        ...
Vitamin K (mcg)                        0.000000
Weight (kg)                            8.273077
Dietary Water (L)                      0.000000
Zinc (mg)                              0.000000
UV Exposure (count)                    0.000000
Length: 66, dtype: float64

To see specific rows(eg: 10 to 15)

## MEDIAN

In [ ]:
data.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Active Calories (kcal)               298.0
Biotin (mcg)                           0.0
Blood Alcohol Content (%)              0.0
Blood Glucose (mg/dL)                  0.0
Blood Pressure (Diastolic) (mmHg)      0.0
                                     ...
Vitamin K (mcg)                        0.0
Weight (kg)                            0.0
Dietary Water (L)                      0.0
Zinc (mg)                              0.0
UV Exposure (count)                    0.0
Length: 66, dtype: float64

## Excercise 2

find the man of Stud_data

To see the properties of entries a dataset:

find median of stud_data

## Excercise 2 Solved
## Mean

In [ ]:
dt.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Attendance     68.828571
SemMarks      399.537736
Unnamed: 6           NaN
dtype: float64

In [ ]:
dt.median()

## To find mode

In [ ]:
from scipy.stats import mode

In [ ]:
mode(dt.Attendance)

ModeResult(mode=array([97.]), count=array([6]))

## Data Preprocessing

In [ ]:
dt.columns

In [ ]:
dt.Attendance.head()

In [ ]:
dt['Attendance'].mean()

Sorting variable

In [ ]:
dt['Attendance'].sort_values(ascending=True)

Sort the entire data on a specific variable

In [ ]:
dt.sort_index(by='Attendance', ascending=True)

Transform Variable

In [ ]:
dt['newatt']=dt['Attendance']*(10/100)

newattendance=dt['Attendance']*(10/100)

Delete Duplicates

In [ ]:
dt.drop_duplicates(['Names'])

Delete a column

In [ ]:
dt.columns

In [ ]:
del dt['Stud_id']

In [ ]:
dt.columns

Select Variables to make  a new columns

In [ ]:
cols=['Dept','Attendance']

In [ ]:
sel_data=dt[cols]

In [ ]:
sel_data.columns

In [ ]:
sel_data.head()

# Missing Values Imputation

In [ ]:
dt.head()

  Stud_id  Gender      Dept  Attendance  SemMarks     Name  Unnamed: 6  newatt
0    M197  Female   Science        63.0     475.0     Ritu         NaN     6.3
1    M181    Male  Commerce        86.0     303.0   Victor         NaN     8.6
2    S137  Female  Commerce        79.0     587.0    Daven         NaN     7.9
3    M193    Male  Commerce        47.0     403.0  Fernado         NaN     4.7
4    C166  Female   Science        59.0     461.0     Rose         NaN     5.9

In [ ]:
dt.isnull().sum()

Stud_id         0
Gender          3
Dept            2
Attendance      2
SemMarks        1
Name           56
Unnamed: 6    107
newatt          2
dtype: int64

In [ ]:
null_data = dt[dt['Attendance'].isnull()]
null_data

In [ ]:
mean_attendance=dt['Attendance'].mean()
dt['Attendance'].fillna(mean_attendance)

Filtering variable

In [ ]:
dt[dt['SemMarks'] > 400]

Group variable for finding mean value

In [ ]:
dt.groupby('Dept').Attendance.mean()

## Data Visualisation 

## Bar Chart

In [ ]:
import matplotlib
%matplotlib inline
dt['Dept'].value_counts().plot(kind='pie')

In [ ]:
dt['Dept'].value_counts().plot(kind='hist')

In [ ]:
dt['Dept'].value_counts().plot(kind='line')

In [ ]:
dt['Attendance'].value_counts().plot(kind='hist',bins=10)

In [ ]:
dt.groupby('Dept')['Attendance'].mean().sort_values(ascending =True).plot(kind='barh')

In [ ]:
dt[['Attendance','SemMarks']].plot(x='Attendance',y='SemMarks',kind='scatter')

In [ ]:
dt[['Attendance','SemMarks']].plot(x='Attendance',y='SemMarks',kind='box')

# # SD and Variance

In [ ]:
dt.Attendance.std()

In [ ]:
dt.Attendance.var()

## Chi Square test

cross tab

In [ ]:
dt.columns

In [ ]:

cstab=pd.crosstab(dt.Dept,dt.Gender,margins=False)
cstab

In [ ]:
pd.crosstab(dt.Dept,dt.Gender, margins=True).style.background_gradient(cmap='summer_r')

In [ ]:
from scipy.stats import chi2_contingency as chi

In [ ]:
chi,p,dof,ex=chi(cstab,correction=False)

In [ ]:
chi,p,dof,ex

## Correlations

In [ ]:
dt.corr()

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(dt.corr())

In [ ]:
dt.Attendance.corr( dt.SemMarks)

In [ ]:
sns.regplot(dt.Attendance,dt.SemMarks)

## Health Data

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12, 9))
sns.heatmap(data.loc[:, (data != 0).any(axis=0)].corr(), annot=True,cmap="RdYlGn")

In [ ]:
!pip install pingouin

In [ ]:
import pingouin as pg

In [ ]:
pg.corr(dt.Attendance, dt.SemMarks)

In [ ]:
pg.corr(dt.Attendance, dt.SemMarks, method='pearson').round(2)

In [ ]:
pg.corr(dt.Attendance, dt.SemMarks, method='spearman').round(2)

In [ ]:
dt.head(1)

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
plt.scatter(dt['Attendance'],dt['SemMarks'],color ='g')
plt.title("scatter plot")
plt.xlabel("Attendance")
plt.ylabel("SemMarks")
plt.show()

In [ ]:
plt.scatter(dt['Attendance'],dt['SemMarks'],color ='g',s=50, marker='*')
plt.title("scatter plot")
plt.xlabel("Attendance")
plt.ylabel("SemMarks")
plt.show()

# Pandas Profiling

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
profile= ProfileReport(data,"Heath Data Model Profile",html={"style": {'full_width':True}})

In [ ]:
profile

See the link to read about [A Short History of Data Science](https://www.forbes.com/sites/gilpress/2013/05/28/a-very-short-history-of-data-science/?sh=1f0395c155cf) publihed by Forbes.